# =====================
# Ambiente / Secrets
# =====================
.env

# =====================
# Airflow
# =====================
logs/
airflow.cfg

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# IDEs
# =====================
.idea/
.vscode/

# =====================
# Banco de dados
# =====================
*.db

# =====================
# Mídia / arquivos grandes
# =====================
*.mp4
